@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome in DOTNET!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1 class="display-3">@ViewBag.car !!</h1>
    <img src="https://img.freepik.com/free-photo/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.jpg?t=st=1733718704~exp=1733722304~hmac=943591712bde89f949cb80280aa63b960477d8d8d1bd2479059692e4f015d2b5&w=900" />
    
    <h1 class="display-3">@ViewData["carName"]!!</h1>
    <img src="~/assets/bluecar.jpeg"/>
</div>
