/C#/basics/.vs/ProjectEvaluation/basics.projects.v7.bin
/C#/basics/.vs/basics/FileContentIndex/9da3295f-966a-4b42-ab7d-d453085b22ea.vsidx
/C#/basics/.vs/basics/FileContentIndex/c2d2d30a-b566-4670-9cbf-29cb8779da53.vsidx
/C#/basics/.vs/basics/FileContentIndex/c6ee6aa9-1a17-42b5-8a70-c1abfd97b362.vsidx
/C#/basics/.vs/basics/FileContentIndex/ed965833-c8ce-4f28-96ca-0a651fe40792.vsidx
webapi/crud/.vs/crud/FileContentIndex/5a9e4f28-708f-49f7-878b-3e083e8c67c6.vsidx
webapi/crud/.vs/crud/FileContentIndex/8694f89b-b659-4234-a31a-51b47f3020b6.vsidx
MERN/ExpressJS/Basics/node_modules
MERN/ExpressJS/Basics/.env
MERN/React/Ecommerce website/node_modules
MERN/FullStackProject/Backend/node_modules
MERN/FullStackProject/EcommerceFrontend/node_modules